<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a Super Hero</title>
  </head>
  
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form>
    <h3>
      <label for="team_name">Team Name:</label>
      <input type="text" id="team_name" name="team[name]"/>
    </h3>
    <h3>
      <label for="team_motto">Team Motto:</label>
      <input type="text" id="team_motto" name="team_motto"/>
    </h3>
    
    <h2>Hero 1</h2>
    
    
    
    <h2>Hero 2</h2>
    
    
    <h2>Hero 3</h2>
    
    </form>
  </body>
  
</html>

