<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a Super Hero</title>
  </head>
  
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form>
    
    
    <h2>Hero 1</h2>
    
    
    
    <h2>Hero 2</h2>
    
    
    <h2>Hero 3</h2>
    
    </form>
  </body>
  
</html>

