<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a Super Hero</title>
  </head>
  
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form>
    <p>
      <label for="team_name"><strong>Team Name:</strong></label>
      <input type="text" id="team_name" name="team[name]"/><br>
      <label for="team_motto"><strong>Team Motto:</strong></label>
      <input type="text" id="team_motto" name="team[motto]"/>
    </p>
    
    <h2>Hero 1</h2>
    <p>
      <label for="member1_name"><strong>Hero's Name:</strong></label>
      <input type="text" id="member1_name" name="team[hero][][name]"/><br>
    
      <label for="member1_power"><strong>Hero's Power:</strong></label>
      <input type="text" id="member1_power" name="team[hero][][power]"/><br>
      
      <label for="member1_bio"><strong>Hero's Biography:</strong></label>
      <input type="text" id="member1_bio" name="team[hero][][bio]"/>
    </p>
    
    <h2>Hero 2</h2>
    <label for="hero_2_name"><strong>Hero's Name:</strong></label>
      <input type="text" id="hero_2_name" name="team[hero][][name]"/><br>
    
      <label for="hero_2_power"><strong>Hero's Power:</strong></label>
      <input type="text" id="hero_2_power" name="team[hero][][power]"/><br>
      
      <label for="hero_2_bio"><strong>Hero's Biography:</strong></label>
      <input type="text" id="hero_2_bio" name="team[hero][][bio]"/>
    </p>
    
    
    <h2>Hero 3</h2>
    <label for="hero_3_name"><strong>Hero's Name:</strong></label>
      <input type="text" id="hero_3_name" name="team[hero][][name]"/><br>
    
      <label for="hero_3_power"><strong>Hero's Power:</strong></label>
      <input type="text" id="hero_3_power" name="team[hero][][power]"/><br>
      
      <label for="hero_3_bio"><strong>Hero's Biography:</strong></label>
      <input type="text" id="hero_3_bio" name="team[hero][][bio]"/>
    </p>
    <input type="submit" id="Submit"/>
    </form>
  </body>
  
</html>

